[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "hammerspoon/Spoons/PaperWM.spoon"]
	path = hammerspoon/Spoons/PaperWM.spoon
	url = https://github.com/mogenson/PaperWM.spoon
