[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "hammerspoon/Spoons/PaperWM.spoon"]
	path = hammerspoon/Spoons/PaperWM.spoon
	url = https://github.com/mogenson/PaperWM.spoon
[submodule "mpv/scripts"]
	path = mpv/scripts
	url = https://github.com/po5/mpv_sponsorblock.git
